# MacOS/General
.DS_Store
.AppleDouble
.LSOverride

# Rails/TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

## Rails/Environment normalization:
/.bundle
/vendor/bundle

# Vagrant/General
.vagrant/
